{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
<section class="hero-section">
  <div class="container text-center">
      <h1 class="main-title">Welcome to Quiz Master!!!</h1>
      <p class="hero-text">
          Test your knowledge, challenge yourself, and learn something new every day.
          Join our community of learners and start your journey today!
      </p>
      <div class="d-flex justify-content-center flex-wrap">
          <a href="/login" class="btn btn-custom-primary">Login</a>
          <a href="/register" class="btn btn-custom-secondary">Register</a>
      </div>
  </div>
</section>
{% endblock content %}